.table1 {
    width: 450px;
    height: 450px;
}
.table1 td{
    border: 1px solid darkblue;
    width: 45px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#carrier{
    /*width: 202px;*/
    /*height: 25px;*/
    background-color: darkgreen;
}
