#tableGame{
    border: black solid 1px;
    width: 500px;
    height: 483px;
}
.table1 {
    width: 450px;
    height: 450px;
}
.numbers{
    display: flex;
    flex-direction: row;
}
.numbers div, .letters{
    width: 44px;
    height: 42px;
    border: 1px solid #9E9E9E;
}
.shipsGrids{
    display: flex;
    flex-direction: row;
    background-color: #e7e9ea;;
}

#carrier{
    width: 220px;
    height: 42px;
    background-image: url("carrier.png")}
#battleship{
    width: 176px;
    height: 42px;
    background-image: url("battleship.png")}
#submarine{
    width: 132px;
    height: 42px;
    background-image: url("submarine.png");
}
#destroyer{
    width: 132px;
    height: 42px;
    background-image: url("destroyer.png");}
#patrol{
    width: 88px;
    height: 42px;
    background-image: url("patrol.png");
}
.table1 td{
    border: 1px solid darkblue;
    width: 45px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.vertical {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.horizontal {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
#rotateText{
    visibility: hidden;
}
#ships{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 432px;
}
.divSalvo{
    display: none;
}