#tableGame{
    border: black solid 1px;
    width: 500px;
    height: 483px;
}
.table1 {
    width: 450px;
    height: 450px;
}
.numbers{
    display: flex;
    flex-direction: row;
}
.numbers div, .letters{
    width: 44px;
    height: 42px;
    border: 1px solid #9E9E9E;
}
.shipsGrids{
    display: flex;
    flex-direction: row;
    background-color: #e7e9ea;;
}
#patrol{
    width: 44px;
    height: 42px;
    background-color: green;
}
#carrier{
    width: 220px;
    height: 42px;
    background-color: green;
}
.table1 td{
    border: 1px solid darkblue;
    width: 45px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

